@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --brand-color-black: #212121;
    --brand-color-grey: #757575;
    --brand-color-white: #fff;
    --brand-color-blue: #2196f3;
    --brand-background-light: #E5E5E5;
    --brand-background-dark: #2F303A;
    --brand-background-white: var(--brand-color-white);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--brand-background-light);
    color: var(--brand-color-black);
}

/* *************** repetitive pieces of code *************** */

.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.type-list {
    list-style-type: none;
}

/* *************** COMMON *************** */

.wrapper {
    width: 1600px;
    margin: 0 auto;
    background-color: var(--brand-background-white);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 1px solid #ECECEC;
    min-height: 80px;
}

/* NAVIGATION in header */

.nav {

}

.menu-list {

}

.menu-item {

}

.menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--brand-color-black);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: var(--brand-color-blue);
}

/* SECTION CONTACT in header */
.contact-list {
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.contact-list a {
    color: var(--brand-color-grey);
    text-decoration: none;
}

.contact-list a:hover,
.contact-list a:focus,
.contact-list a:active {
    color: var(--brand-color-blue);
}

.contact-item {

}

/* SECTION LOGO */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000;
}

.logo-trademark-color {
    color: var(--brand-color-blue);
}

/* SECTION FOOTER */

.footer {
    background-color: var(--brand-background-dark);
    min-height: 252px;
}

.footer .logo {
    color: var(--brand-color-white);

}

.footer address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer .address-item {
    color: var(--brand-color-white);
}

.footer .address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer .address-link:hover,
.footer .address-link:focus,
.footer .address-link:active {
    color: var(--brand-color-white);
}

.footer .address-item span {
    text-decoration: underline;
}

.main {
    
}

.hero {

}

.head-caption {

}

.hero-content {

}

.hero-title {

}

.hero-btn {

}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {

}

.advantages {

}

.advantage-item {

}

.advantage-title {

}

.advantage-text {

}

.offers {

}

.offer-content {

}

.offer-list {

}

.offer-item {

}

.team {

}

.team-content {

}

.team-item {

}

.team-description-header {

}

.team-description-text {

}

/* *************** portfolio.html *************** */

/* SECTION FILTERS */

.filters {

}

.filter-list {

}

.filter-item {

}

.filter-btn {
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
}

/* SECTION PROJECTS */

.projects {

}

.project-item {

}

.project-photo {
    border: 1px solid #EEEEEE;
}

.project-description {

}

.project-description-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-description-text {
    letter-spacing: 0.03em;
    line-height: 1.9;
    color: var(--brand-color-grey);
}
